.error-background {
	background: -webkit-linear-gradient(left, #0127ff, pink 99%);
	font-family: "Roboto", sans-serif;
}

.title {
	font-size: 8rem;
	color: white;
	font-weight: 700;
	margin: auto;
}

.medium-text {
	font-size: 2rem;
	font-weight: 400;
	color: white;
	margin: auto;
}

.small-text {
	font-size: 1rem;
	font-weight: 400;
	color: white;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.button {
	font-weight: 600;
	padding: 10px;
	margin-top: 20px;
	font-size: 1rem;
	background-color: transparent;
	border-color: white;
	color: white;
	border: 1px solid white;
	border-radius: 4px;
	cursor: pointer;
	margin: auto;
	text-decoration: none;
	transition: 0.3s;
}

.button:hover {
	color: black;
	background-color: white;
}

.error-wrapper {
	display: flex;
	flex-direction: column;
}