<!doctype html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<form class="login-form" action='/login' method="POST">
    <h1 class="login-element">Please login</h1>
    <div class="login-element">User:</div>
    <input class="login-element" type='text' name="foo" value=''>
    <div class="login-element">Password:</div>
    <input class="login-element" type='password' name="bar" value=''>
    <input class="login-element" type='submit' name="submit" value="submit">
</form>
</html>